<h1>Welcome</h1>
<h3>Sign up below:</h3>
<br />
<form method=POST action='/students/new'>
  Name: <input type='text' id='student[name]' name='student[name]' /><br /><br />
  Grade:<input type='integer' id='student[grade]' name='student[grade]' /><br /><br />
  Instruments:<input type='integer' id='student[instruments]' name='student[instruments]' /><br /><br />
  Activities:<input type='integer' id='student[activities]' name='student[activities]' /><br /><br />
  <button type='submit'>Sign Up</button>
</form>
