<h1>Welcome back</h1>

<form method='post' action ='/students/login'>
  Name: <input type='text' id='student[name]' name='student[name]' required/><br /><br />
  Password:<input type='password' id='student[password]' name='student[password]' required /><br /><br />
  <button type='submit'>Log In</button>
</form>
<br /><br />
<form method='get' action ='/teachers/new'>
    <button type='submit'>Not yet registered? Sign up here.</button>
</form>
